@import "tailwindcss";

body {
  @apply bg-[#F7F7FB] relative
}

@theme {
  --color-primary: #615dfa;
  --color-secondary: #23d2e2;
  --color-dark: #45437f;
  --color-extraDark: #3E3F5E;
  --color-light: #7a77fd;
  --color-gray: #afb0c0;

  --font-poppins: "Poppins", "sans-serif";

  --shadow-dropdown: 0px 1px 4px 1px rgba(0, 0, 0, 0.11);
}

li:has(> a.sideNav):hover .sideNavIcon path {
  fill: white;
}


