@import "tailwindcss";

@theme {
  --color-primary: #615dfa;
  --color-secondary: #23d2e2;
  --color-dark: #45437f;
  --color-light: #7a77fd;
  --color-gray: #afb0c0;

  --font-poppins: "Poppins", "sans-serif";
}

li:has(> a.sideNav):hover .sideNavIcon path {
  fill: white;
}

body {
  @apply bg-[#F7F7FB]
}

